# Project place file
/Anime FPS Game.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json
src/shared/Configs/GunConfig.luau
Packages/
ServerPackages/
sourcemap.json
wally.lock
